.about {
    position: relative;
    min-height: 800px;
    display: flex;
}

.about__btn {
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    border-radius: 60px 60px 0px 60px;
    transition: all 0.3s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__btn svg {
    fill: #202020;
}

.about__btn.is-active {
    background-color: #2CC304;
}

.about__btn.is-active svg {
    fill: #ffffff;
}

.about__text {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.about__img {
    position: absolute;
}

.about__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.about__wheel {
    position: relative;
    width: 510px;
    height: 510px;
    margin-right: 10%;
    padding: 50px;

    background-image: url('../src/img/about/ellipse.png');
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about__wheel-inner {
    position: absolute;
    animation: spin 5s ease 1 forwards;
}


@keyframes spin {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 75%;
    }
}

@keyframes spin2 {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 90%;
    }
}

@keyframes spin3 {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 105%;
    }
}

@keyframes spin4 {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 125%;
    }
}

@keyframes spin5 {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 145%;
    }
}

@keyframes spin6 {
    0% {
        offset-distance: 0;
    }

    100% {
        offset-distance: 160%;
    }
}

@keyframes expandCircle {
    0% {
        offset-path: circle(5px at center);
    }

    100% {
        offset-path: circle(300px at center);
    }
}

.about__btn-1 {
    transform: rotate(42.449deg);
    offset-path: circle(5px at center);
    animation: spin 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    position: absolute;
    inset: 0;
}

.about__btn-1 svg {
    transform: rotate(289deg);
}

.about__btn-2 {
    transform: rotate(46deg);
    offset-path: circle(5px at center);
    animation: spin2 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    position: absolute;
    inset: 0;
}

.about__btn-2 svg {
    transform: rotate(260deg);
}

.about__btn-3 {
    position: absolute;
    transform: rotate(40deg);
    offset-path: circle(5px at center);
    offset-path: circle(5px at center);
    animation: spin3 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    inset: 0;
}

.about__btn-3 svg {
    transform: rotate(210deg);
}

.about__btn-4 {
    transform: rotate(40deg);
    offset-path: circle(5px at center);
    offset-path: circle(5px at center);
    animation: spin4 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    position: absolute;
    inset: 0;
}

.about__btn-4 svg {
    transform: rotate(140deg);
}

.about__btn-5 {
    bottom: 20%;
    left: -23px;
    transform: rotate(40deg);
    offset-path: circle(5px at center);
    offset-path: circle(5px at center);
    animation: spin5 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    position: absolute;
    inset: 0;
}

.about__btn-5 svg {
    transform: rotate(90deg);
}


.about__btn-6 {
    transform: rotate(40deg);
    offset-path: circle(5px at center);
    offset-path: circle(5px at center);
    animation: spin6 4s 1 linear forwards, expandCircle 2s 1 alternate ease-out forwards;
    animation-composition: accumulate, replace;
    position: absolute;
    inset: 0;
}

.about__btn-6 svg {
    transform: rotate(16deg);
}

.about__list {
    display: none;
}

.about__list p {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.about__list svg {
    fill: #fff;
    flex: 0 0 45px;
}

.about__list li {
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 20px 20px;
}

@media(max-width: 767px) {
    .about__wheel {
        display: none;
    }

    .about__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 300px;
    }
}