.animation-left {
    position: relative;
    animation: unionLeft 0.7s linear alternate forwards;
    left: -100px;
}

.animation-right {
    position: relative;
    animation: unionRight 0.7s linear alternate forwards;
    right: -100px;
}

@keyframes unionLeft {
    from {
      opacity: 0;
      transform: translateX(-20px) translateY(0);
    }
    to {
      opacity: 1;
      transform: translateX(100px) translateY(0);
    }
  }
  
  @keyframes unionRight {
    from {
      opacity: 0;
      transform: translateX(20px) translateY(0);
    }
    to {
      opacity: 1;
      transform: translateX(-100px) translateY(0);
    }
  }
  
  .animation-left {
    animation: unionLeft 1s ease forwards;
  }
  
  .animation-right {
    animation: unionRight 1s ease forwards;
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
 /* Анимация для появления */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  