.commercial {
    position: relative;
    padding: 70px 0;
}

.commercial__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.commercial__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.commercial__buttons a {
    margin: 0;
    width: 100%;
}

.commercial__buttons .button {
    padding: 12px 20px;
    text-align: center;
}

.commercial__img {
    display: flex;
}

.commercial__img img {
    flex: 0 0 auto;
    height: min-content;
}

.commercial__img img:nth-child(1) {
    position: relative;
    z-index: 1;
}

.commercial__img img:nth-child(2) {
    margin-left: -90px;
}

.commercial__decor-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-image: url('src/img/commercial/rectangle-1.png');
    background-repeat: no-repeat;
}

.commercial__decor-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 584px;
    height: 1120px;
    background-image: url('src/img/commercial/rectangle-2.png');
    background-repeat: no-repeat;
    z-index: -1;
}

@media(max-width: 767px) {
    .commercial__wrapper {
        grid-template-columns: 1fr;
        gap: 70px;
    }

    .commercial__img {
        grid-row: 1/2;
        justify-content: center;
        margin: -60px 0 0 -55px;
    }

    .commercial__img img {
        height: 250px;
    }

    .commercial .header-call-button {
        display: block;
    }

    .commercial__buttons {
        flex-direction: column;
    }

    .commercial__decor-1 {
        display: none;
    }

    .commercial__decor-2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 340px;
        background-image: url('src/img/commercial/rectangle-3.png');
        background-repeat: no-repeat;
        z-index: -1;
        object-fit: cover;
    }
}