.faq {
    padding: 70px 0;
    background-image: url('../src/img/bg/faq-bg.jpg');
    background-size: cover;
}

.faq__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    min-height: 800px;
    color: #ffffff;
}

._tabs-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

._tabs-content._active {
    opacity: 1;
}

.faq__btn {
    position: relative;
    display: block;
    width: 100%;
    border: none;
    background-color: inherit;
    font-size: 20px;
    padding: 10px 45px 10px 0;
    cursor: pointer;
    text-align: left;
}

.faq__btn._active.faq__btn::before {
    transform: rotate(-45deg);
}

.faq__btn._active.faq__btn::after {
    transform: rotate(45deg);
}

.faq__btn::before,
.faq__btn::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 2px;
    height: 20px;
    background-color: #1d2131;
    transition: all 0.3s ease;
}

.faq__btn::before {
    top: 10px;
}

.faq__btn::after {
    top: 10px;
    transform: rotate(90deg);
}