
.main-section {
    padding: 180px 0 70px;
  }
  
  
  .sertificate {
    min-width: 0;
    padding: 180px 0 70px;
    overflow: hidden;

  }
  
  @media(max-width: 767px) {
    .sertificate {
      padding: 60px 0;
    } 
  }
  
  .sertificate__wrapper {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
  
  .gallery-wrapper {
    /* overflow: hidden; */
    display: flex;
    gap: 30px;
  }
  .sertificate-slide a {
    display: block;
  }
  .sertificate__title {
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: white;
  }
  
  .main-section_img {
    z-index: -1;
    /* padding-left: 700px; */
    background-repeat: no-repeat;
    background-position: right;
  }

  .main-section__text {
    text-shadow: .5px .5px 1px black;
  }

  .main-section__sub {
    color: #090952;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
  }
  
  
  .main-section__sub--sub {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  
  }

  .main-section__left {
    width: 50%;
  }

.sertificate-slide {
    margin: 10px;
    max-height: 300px;
  }

.sertificate-slide img{
    max-height: 300px;
    }

  .main-section_bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  @media(max-width: 767px) {
    .main-section__sub {
      font-size: 31px;
      /* color: white; */
    }
    .sertificate__title {
        font-size: 24px;
        /* color: white; */
      }
    .main-section__left {
        width: 100%;
    }
    .main-section_img {
        display: none;
    }
    .main-section__sub--sub {
        font-size: 32px;
      } 
    .main-section__left {
        font-size: 14px;
    }
}