.video__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.video__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 420px;
}

.video__quotes {
    position: relative;
    z-index: 1;
    padding: 30px 60px;
    border-radius: 2px 3px 3px 100px;
    background: #FFF;
}

.video__quotes-name {
    max-width: 240px;
    margin-left: auto;
    margin-bottom: 15px;
}

.video__quotes p {
    line-height: 1.2;
}

.video__buttons {
    max-width: 420px;
}

.video__buttons a {
    margin: 0 0 15px 0;
}

.video__buttons .button {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    box-shadow: none;
}

.video__buttons .video__button {
    background: #2CC304;
    color: #ffffff;
}

.video__buttons .video__button:hover {
    color: #2CC304;
}

.video__buttons .video__button.button:before {
    background-color: #ffffff;
}

@media(min-width: 767px) {
    .video {
        padding: 70px 0;
        background-color: #090952;
    }

    .video__buttons--mobile {
        display: none;
    }

    .video__quotes {
        max-width: 441px;
    }

    .video__item {
        min-height: 660px;
    }

}

@media(max-width: 767px) {
    .video__buttons {
        display: none;
    }

    .video__buttons--mobile {
        display: block;
        font-size: 12px;
    }

    .video__buttons--mobile .header-call-button {
        display: block;
        padding: 5px 10px;
        font-size: 12px;
    }

    .video__quotes {
        padding: 15px 15px 50px 30px;
    }

    .video__item {
        position: static;
    }
}