/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Импорт кастомных стилей для компонентов */
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/swiper.css';
@import './block/sliders.css';
@import './block/scrool-top.css';
@import './block/video.css';
@import './block/button.css';
@import './block/hero.css';
@import './block/animation.css';
@import './block/about.css';
@import './block/features.css';
@import './block/use.css';
@import './block/commercial.css';
@import './block/our-clients.css';
@import './block/marketplace.css';
@import './block/faq.css';

/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
/* @font-face {
    font-family: 'archangelsk';
    src: url('../src/fonts/archangelsk.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        color: #202020;
        font-weight: 400;
        background-color: #EDEDED;
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }

}

/* Директивы классов */

.header-call-button {
    @apply py-3 px-8 font-semibold text-green text-center border-solid border-green border-[2px] transition-all block hidden sm:block;
}

.popup-link {
    @apply block py-3 text-2xl font-bodyFont uppercase px-8 bg-green rounded-lg text-center border-solid border-green border-[2px] transition-all relative z-[1] hover:bg-transparent;
}

.nav-link {
    @apply text-lg transition-colors;
}

/* Прочие классы */

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.border-header {
    border-radius: 30px 30px 30px 0px;
}

.border-header-right {
    border-radius: 30px 30px 0px 30px;
}

.border-left-radius {
    border-radius: 100px 2px 2px 2px;
}

.border-right-radius {
    border-radius: 2px 2px 100px 2px;
}

.test {
    background-color: #fff;
    padding: 20px;
}